/tuf-backend/node_modules


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tuf-frontend/node_modules
/tuf-frontend/.pnp
/tuf-frontend/.pnp.js

# testing
/tuf-frontend/coverage

# production
/tuf-frontend/build

# misc
/tuf-frontend.DS_Store
/tuf-frontend.env.local
/tuf-frontend.env.development.local
/tuf-frontend.env.test.local
/tuf-frontend/.env.production.local

/tuf-frontendnpm-debug.log*
/tuf-frontendyarn-debug.log*
/tuf-frontendyarn-error.log*
